@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        @model task_manager.Models.TaskStatus
        <div>
            <div class="d-flex justify-content-between">
                <h4 class="font-weight-bold">TaskStatus @Model.StatusId</h4>
                <a href="/TaskStatus/Index" class="btn btn-success">Back</a>
            </div>
            <div class="jumbotron">
                <h1 class="display-4">@Model.StatusName</h1>
                <hr class="my-4">
                <p>Color: @Model.StatusColor</p>
            </div>
        </div>
    </div>
</div>