@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
    @model IEnumerable<task_manager.Models.TaskSubelement>
    <div class="d-flex justify-content-between">
        <h4 class="font-weight-bold">TaskSubelements</h4>
        <a href="/TaskSubelement/AddTaskSubelement" class="btn btn-success">Add</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">TaskSubelement Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <th scope="row">@t.SubelementId</th>
                    <td>@t.SubelementName</td>
                    <td>@t.SubelementDate</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="actions">
                            <a href="/TaskSubelement/ShowTaskSubelement/@t.SubelementId" class="btn btn-info">Show</a>
                            <a href="/TaskSubelement/EditTaskSubelement/@t.SubelementId" class="btn btn-warning">Edit</a>
                            <form class="d-inline-block" action="/TaskSubelement/PostDeleteTaskSubelement" method="post">
                                <input type="hidden" name="id" value="@t.SubelementId" />
                                <button type="submit" class="btn btn-danger rounded-right" style="border-radius: 0;">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>